:root {
  --size-xs: 8px;
  --size-sm: 16px;
  --size-lg: 24px;
  --size-xl: 32px;
  --transition: all 0.3s;
  --color-primary: #a78bfa;
  --color-secondary: #2e1065;
  --color-ligth: #fff;
  --color-dark: #14101d;
  --color-disabled: #94a3b8;
  --max-width: 768px;
  --text-shadow: 3px 3px 2px #14101d70;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  line-height: 1.5;
  background-color: var(--color-dark);
}

a {
  text-decoration: none;
}

header {
  background-image: linear-gradient(to right, var(--color-secondary), var(--color-primary));
  padding: var(--size-lg);

  .head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    margin: 0 auto;

    .navbar-desktop {
      display: none;
    }

    .icon-open svg {
      stroke: var(--color-ligth);
      filter: drop-shadow(var(--text-shadow));
      width: 40px;
      height: auto;
      cursor: pointer;
    }

    .icon-close {
      cursor: pointer;
      text-align: center;
      margin: var(--size-xl);

      svg {
        width: 40px;
        height: auto;
        stroke: var(--color-primary);
      }
    }

    .navbar-mobile {
      position: fixed;
      top: 0;
      right: -320px;
      background-color: var(--color-dark);
      height: 100vh;
      width: 320px;
      border-left: 2px solid var(--color-secondary);
      border-top-left-radius: var(--size-sm);
      border-bottom-left-radius: var(--size-sm);
      z-index: 1;
      transition: var(--transition);

      /* &&::backdrop {
          backdrop-filter: blur(8px);
        } */

      ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 var(--size-sm);

        .active a {
          color: var(--color-primary);
          text-shadow: 3px 3px 2px var(--color-secondary);
        }

        li {
          padding: var(--size-xl) 0;
          border-bottom: 1px solid var(--color-secondary);
          width: 100%;
          text-align: center;

          a {
            font-size: 18px;
            font-weight: bold;
            color: var(--color-ligth);
            text-shadow: 3px 3px 2px var(--color-secondary);

            &:active {
              color: var(--color-primary);
            }
          }
        }
      }
    }

    h1 a {
      color: var(--color-ligth);
      text-shadow: var(--text-shadow);
    }
  }
}

main {
  max-width: var(--max-width);
  margin: 0 auto;

  section {
    margin: var(--size-xl) var(--size-sm);

    h2 {
      color: var(--color-ligth);
      margin-bottom: var(--size-lg);
      color: var(--color-primary);
    }

    .container-cards {
      display: grid;
      grid-template-columns: 1fr;
      gap: var(--size-lg);

      .pending,
      .finished {
        padding: var(--size-lg);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: var(--size-xs);
        border: 1px solid var(--color-secondary);
      }

      .pending {
        color: var(--color-ligth);
        transition: var(--transition);

        h3 {
          margin-bottom: var(--size-xs);
          transition: var(--transition);
          cursor: pointer;

          &:hover {
            color: var(--color-primary);
          }
        }

        svg {
          stroke: var(--color-primary);
          width: 48px;
          height: auto;
          cursor: pointer;
          transition: var(--transition);
          flex-shrink: 0;

          &:hover {
            stroke-width: 3;
          }
        }

        &:hover {
          border: 1px solid var(--color-primary);
        }
      }

      .finished {
        border-radius: var(--size-xs);
        color: var(--color-disabled);
        transition: var(--transition);

        &:hover {
          border: 1px solid var(--color-primary);
        }

        h3 {
          margin-bottom: var(--size-xs);
          text-decoration: line-through;
          cursor: pointer;

          &:hover {
            color: var(--color-primary);
          }
        }

        svg {
          stroke: var(--color-disabled);
          width: 48px;
          height: auto;
          flex-shrink: 0;
        }
      }
    }
  }
}

label {
  display: block;
  color: var(--color-ligth);
}

input[type='text'],
textarea,
select {
  margin-top: var(--size-sm);
  margin-bottom: var(--size-xl);
  border-radius: var(--size-xs);
  padding: var(--size-sm);
  border: 1px solid var(--color-secondary);
  background-color: transparent;
  width: 100%;
  color: var(--color-ligth);
  outline: none;
  transition: var(--transition);
  font-size: 16px;

  &:focus {
    border: 1px solid var(--color-primary);
  }

  &:disabled {
    color: var(--color-disabled);
  }
}

textarea {
  resize: none;
}

button {
  width: 100%;
  border-radius: var(--size-xs);
  padding: var(--size-sm);
  border: none;
  font-size: 16px;
  color: var(--color-ligth);
  cursor: pointer;
  border: 1px solid transparent;
  transition: var(--transition);
}

.buttons-container {
  display: flex;
  gap: var(--size-lg);
  margin-top: var(--size-sm);
}

.btn-primary {
  background-color: var(--color-secondary);

  &:hover {
    border: 1px solid var(--color-primary);
  }

  &:disabled {
    background-color: transparent;
    border-color: var(--color-primary);
    color: var(--color-primary);
  }
}

.btn-secondary {
  background-color: transparent;

  &:hover {
    border: 1px solid var(--color-primary);
  }

  &:disabled {
    color: var(--color-disabled);
    border-color: transparent;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: var(--size-xl);

  label {
    cursor: pointer;
  }

  input[type='checkbox'] {
    flex-shrink: 0;
    cursor: pointer;
    margin-right: var(--size-sm);
    background-color: var(--color-ligth);
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    width: 22px;
    height: 22px;
    appearance: none;
    border-radius: 50%;

    &:checked {
      background-color: var(--color-primary);
    }
  }
}

.modal {
  border: 2px solid var(--color-primary);
  outline: none;
  position: fixed;
  width: 768px;
  margin: auto;
  padding: var(--size-lg);
  border-radius: var(--size-sm);
  background-color: var(--color-dark);

  &::backdrop {
    /* background-color: #00000090; */
    backdrop-filter: blur(8px);
  }

  h2 {
    color: var(--color-ligth);
    text-align: center;
    margin-bottom: var(--size-lg);
  }

  small {
    display: block;
    color: var(--color-ligth);
    margin-bottom: var(--size-xl);
  }
}

.toast-success,
.toast-error {
  border-radius: var(--size-xs);
  text-align: center;
}

.toast-success {
  background: #059669;
}

.toast-error {
  background: #ef4444;
}

.loading,
.empty,
.error {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading {
  svg {
    stroke: var(--color-primary);
    width: 100px;
    height: auto;
    animation: animateLoading 1.4s linear infinite;
  }

  p {
    margin: var(--size-sm);
    color: var(--color-ligth);
  }
}

@keyframes animateLoading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.empty {
  svg {
    stroke: var(--color-primary);
    width: 100px;
    height: auto;
  }

  p {
    margin: var(--size-sm);
    text-align: center;
    color: var(--color-ligth);

    a {
      color: var(--color-primary);
    }
  }
}

.error {
  svg {
    stroke: var(--color-primary);
    width: 100px;
    height: auto;
  }

  p {
    margin: var(--size-sm);
    color: var(--color-ligth);
    text-align: center;
  }
}

.fade-in {
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  header {
    .head-container {
      .navbar-desktop {
        display: block;

        ul {
          display: flex;
          list-style: none;

          .active {
            border-bottom: 2px solid var(--color-ligth);
          }

          li {
            margin: 0 var(--size-lg);
            border-bottom: 2px solid transparent;
            transition: var(--transition);

            a {
              text-shadow: var(--text-shadow);
              color: var(--color-ligth);
              font-weight: bold;
            }

            &:hover {
              border-bottom: 2px solid var(--color-ligth);
            }

            &:last-child {
              margin: 0;
            }
          }
        }
      }

      .icon-open {
        display: none;
      }
    }
  }

  main {
    section {
      margin: var(--size-xl) 0;

      .container-cards {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
