:root {
  --size-xs: 8px;
  --size-sm: 16px;
  --size-lg: 24px;
  --size-xl: 32px;
  --gradient: linear-gradient(45deg, #833ab4, #fd1d1d, #fcaf45);
  --transition: all 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  line-height: 1.5;
}

header {
  padding: var(--size-sm);
  background-image: var(--gradient);
  color: #fff;

  h1 {
    text-align: center;
  }
}

main {
  width: 100%;
  margin: 0 auto;

  article {
    margin: var(--size-xl) var(--size-sm);
    padding: var(--size-sm);
    border-radius: var(--size-sm);
    border: 1px solid transparent;
    box-shadow: 0 0 10px #00000033;
    transition: var(--transition);

    &:hover {
      border: 1px solid #737373;
    }

    &:last-child {
      margin-bottom: 110px;
    }

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: var(--size-sm);
      margin: var(--size-sm) 0;
    }

    small {
      display: block;
      text-align: right;
    }
  }
}

.camera-icon {
  position: fixed;
  bottom: var(--size-sm);
  text-align: center;
  width: 100%;

  svg {
    border-radius: 50%;
    padding: var(--size-sm);
    stroke: #fff;
    width: 80px;
    height: auto;
    background-image: var(--gradient);
    box-shadow: 1px 2px 20px #00000066;
    cursor: pointer;
    transition: var(--transition);

    &:hover {
      transform: scale(1.2);
    }
  }
}

.not-feed {
  height: calc(100vh - 180px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 var(--size-sm);

  svg {
    stroke: #737373;
    width: 150px;
    height: auto;
  }

  p {
    margin-top: var(--size-sm);
    text-align: center;
  }
}

.modal {
  border: none;
  position: fixed;
  width: 100%;
  margin: auto;
  padding: var(--size-lg) var(--size-sm);
  border-radius: var(--size-xs);

  &::backdrop {
    background-color: #00000099;
  }

  h2 {
    text-align: center;
    margin-bottom: var(--size-lg);
  }

  img {
    width: 100%;
    height: 300px;
    border-radius: var(--size-xs);
    object-fit: cover;
    margin-bottom: var(--size-lg);
  }

  input {
    display: block;
    width: 100%;
    padding: var(--size-sm);
    border-radius: var(--size-xs);
    border: 2px solid transparent;
    background: linear-gradient(#fff, #fff) padding-box, var(--gradient) border-box;
    outline: none;
    font-size: var(--size-sm);
    transition: var(--transition);

    &:focus {
      box-shadow: 1px 2px 20px #00000066;
    }

    &:disabled {
      background: #eee;
      cursor: not-allowed;
    }
  }

  div {
    margin-top: var(--size-lg);
    text-align: right;
    display: flex;
    justify-content: space-between;
    gap: var(--size-lg);

    button {
      width: 100%;
      padding: var(--size-sm) var(--size-xs);
      border-radius: var(--size-xs);
      cursor: pointer;
      font-size: 14px;
      border: none;
      font-weight: bold;
      background-color: transparent;

      &:disabled {
        cursor: not-allowed;
      }
    }

    #publish-button {
      background: var(--gradient);
      color: #fff;
      transition: var(--transition);

      &:hover {
        box-shadow: 1px 2px 20px #00000066;
      }

      &:disabled {
        background: #eee;
        box-shadow: none;
        color: #000;
      }
    }
  }
}

.loading {
  height: calc(100vh - 180px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg {
    stroke: #737373;
    width: 150px;
    height: auto;
    animation: animateLoading 1.4s linear infinite;
  }

  p {
    margin-top: var(--size-sm);
  }
}

@keyframes animateLoading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.fade-in {
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 640px) {
  main {
    max-width: 640px;

    article {
      margin-left: 0;
      margin-right: 0;

      img {
        height: 400px;
      }
    }

    .modal {
      max-width: 640px;

      img {
        height: 400px;
      }

      div {
        justify-content: end;

        button {
          width: 150px;
        }
      }
    }
  }
}
